@{
    ViewData["Title"] = "Fixture";
}
@* Head Title *@
<h1>
    <strong>All the matches, days and stadiums here:</strong>
</h1>

@*Libraries from bootstrap and jquery*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@* Final Key and Groups instances *@
<body>
    <div class="container">
        <div class="text-center">
            <img src="~/images/key.svg" alt="Key" class="img-responsive img-rounded" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="text-left">
                                    <div class="text-left">
                                        <h1><strong>Group A</strong></h1>
                                    </div>
                                    <div class="text-left">
                                        <h3><strong>June 14</strong></h3>
                                        <ul>
                                            <li>Russia - Saudi Arabia (Luzhniki) 4pm</li>
                                        </ul>
                                        <h3><strong>June 15</strong></h3>
                                        <ul>
                                            <li>Egypt - Uruguay (St Petersburg) 1pm</li>
                                        </ul>
                                        <h3><strong>June 19</strong></h3>
                                        <ul>
                                            <li>Russia - Egypt (St Petersburg) 7pm</li>
                                        </ul>
                                        <h3><strong>June 20</strong></h3>
                                        <ul>
                                            <li>Uruguay - Arabia Saudi (Rostov) 4pm</li>
                                        </ul>
                                        <h3><strong>June 25</strong></h3>
                                        <ul>
                                            <li>Uruguay - Russia (Samara) 3pm</li>
                                            <li>Saudi Arabia - Egypt (Volgograd) 3pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h1><strong>Group B</strong></h1>
                                    <div class="text-left">
                                        <h3><strong>June 15</strong></h3>
                                        <ul>
                                            <li>Morocco - Iran (St Petersburg) 4pm</li>
                                            <p></p>
                                            <li>Portugal - Spain (Sochi) 7pm</li>
                                        </ul>
                                        <h3><strong>June 20</strong></h3>
                                        <ul>
                                            <li>Portugal - Morocco (Luzhniki) 1pm</li>
                                            <p></p>
                                            <li>Iran - Spain (Kazan) 7pm</li>
                                        </ul>
                                        <h3><strong>June 25</strong></h3>
                                        <ul>
                                            <li>Spain - Morocco (Kaliningrad) 7pm</li>
                                            <p></p>
                                            <li>Iran - Portugal (Saransk) 7pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="text-right">
                                    <div class="text-center">
                                        <h1><strong>Group C</strong></h1>
                                    </div>
                                    <div class="text-left">
                                        <h3><strong>June 16</strong></h3>
                                        <ul>
                                            <li>France - Australia (Kazan) 11am</li>
                                            <p></p>
                                            <li>Peru - Denmark (Saransk) 5pm</li>
                                        </ul>
                                        <h3><strong>June 21</strong></h3>
                                        <ul>
                                            <li>France - Peru (Ekaterinburg) 1pm</li>
                                            <p></p>
                                            <li>Denmark - Australia (Samara) 4pm</li>
                                        </ul>
                                        <h3><strong>June 26</strong></h3>
                                        <ul>
                                            <li>Denmark - France (Luzhniki) 3pm</li>
                                            <p></p>
                                            <li>Australia - Peru (Sochi) 3pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-left">
                                    <div class="text-center">
                                        <h1><strong>Group D</strong></h1>
                                    </div>
                                    <div class="text-left">
                                        <h3><strong>June 16</strong></h3>
                                        <ul>
                                            <li>Argentina - Iceland (Spartak) 2pm</li>
                                            <li>Coratia - Nigeria (Kaliningrad) 8pm</li>
                                        </ul>
                                        <h3><strong>June 21</strong></h3>
                                        <ul>
                                            <li>Argentina - Croatia (Novgorod) 7pm</li>
                                        </ul>
                                        <h3><strong>June 22</strong></h3>
                                        <ul>
                                            <li>Nigeria - Iceland (Volgograd) 4pm</li>
                                        </ul>
                                        <h3><strong>June 26</strong></h3>
                                        <ul>
                                            <li>Nigeria - Argentina (St Petersburg) 7pm</li>
                                            <li>Iceland - Croatia (Rostov) 7pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h1><strong>Group E</strong></h1>
                                    <div class="text-left">
                                        <h3><strong>June 17</strong></h3>
                                        <ul>
                                            <li>Costa Rica - Serbia (Samara) 1pm</li>
                                            <p></p>
                                            <li>Brazil - Switzerland (Rostov) 7pm</li>
                                        </ul>
                                        <h3><strong>June 22</strong></h3>
                                        <ul>
                                            <li>Brazil - Costa Rica (St Petersburg) 1pm</li>
                                            <p></p>
                                            <li>Serbia - Switzerland (Kaliningrad) 7pm</li>
                                        </ul>
                                        <h3><strong>June 27</strong></h3>
                                        <ul>
                                            <li>Serbia - Brazil (Spartak) 7pm</li>
                                            <p></p>
                                            <li>Switzerland - Costa Rica (Novgorod) 7pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="text-right">
                                    <div class="text-center">
                                        <h1><strong>Group F</strong></h1>
                                    </div>
                                    <div class="text-left">
                                        <h3><strong>June 17</strong></h3>
                                        <ul>
                                            <li>Germany - Mexico (Luzhniki) 4pm</li>
                                        </ul>
                                        <h3><strong>June 18</strong></h3>
                                        <ul>
                                            <li>Sweden - South Korea (Novgorod) 1pm</li>
                                        </ul>
                                        <h3><strong>June 23</strong></h3>
                                        <ul>
                                            <li>Germany - Sweden (Sochi) 4pm</li>
                                            <li>South Korea - Mexico (Rostov) 7pm</li>
                                        </ul>
                                        <h3><strong>June 27</strong></h3>
                                        <ul>
                                            <li>South Korea - Germany (Kazan) 3pm</li>
                                            <li>Mexico - Sweden (Ekaterinburg) 3pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-left">
                                    <div class="text-center">
                                        <h1><strong>Group G</strong></h1>
                                    </div>
                                    <div class="text-left">
                                        <h3><strong>June 18</strong></h3>
                                        <ul>
                                            <li>Belgium - Panama (Sochi) 4pm</li>
                                            <li>Tunisia - England (Volgograd) 7pm</li>
                                        </ul>
                                        <h3><strong>June 23</strong></h3>
                                        <ul>
                                            <li>Belgium - Tunisia (Spartak) 1pm</li>
                                        </ul>
                                        <h3><strong>June 24</strong></h3>
                                        <ul>
                                            <li>England - Panama (Novgorod) 1pm</li>
                                        </ul>
                                        <h3><strong>June 28</strong></h3>
                                        <ul>
                                            <li>England - Belgium (Kaliningrad) 7pm</li>
                                            <li>Panama - Tunisia (Saransk) 7pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h1><strong>Group H</strong></h1>
                                    <div class="text-left">
                                        <h3><strong>June 19</strong></h3>
                                        <ul>
                                            <li>Poland - Senegal (Spartak) 1pm</li>
                                            <li>Colombia - Japan (Saransk) 4pm</li>
                                        </ul>
                                        <h3><strong>June 24</strong></h3>
                                        <ul>
                                            <li>Japan - Senegal (Ekaterinburg) 4pm</li>
                                            <li>Poland - Colombia (Kazan) 7pm</li>
                                        </ul>
                                        <h3><strong>June 28</strong></h3>
                                        <ul>
                                            <li>Japan - Poland (Volgograd) 3pm</li>
                                            <li>Senegal - Colombia (Samara) 3pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>



