@{
    ViewData["Title"] = "RUSSIA 2018 FIFA WORLD CUP";
}
@* Principal Image *@
<div class="item active">
    <img src="~/images/banner.png" alt="Russia2018.png" class="img-responsive" />
</div>

@* Referenced link to the official webpage *@
<div class="row">
    <div class="col-md-9">        
            <h1><strong>Russia World Cup 2018</strong></h1>
            <p><a href="https://www.fifa.com/worldcup/">Click here </a>to know everyhting about the FIFA WORLD CUP RUSSIA 2018 or use tabs to navigate trough the page.</p>
    </div>
</div>
