@{
    ViewData["Title"] = "Stadium";
}
<h1><strong>Stadiums from Russia</strong></h1>

@*Libraries from bootstrap and jquery*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@*Stadiums with their respectives capacities*@
<body>
    <div class="container">
        <div class="text-left">
            <div class="col-md-4 col-xs-5">
                <img src="~/images/stadiums/Baltika.svg" class="img-responsive img-thumbnail" />
                <div class="text-center">
                    <h3>Baltika Arena</h3><p>(35.000 spectators)</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="col-md-4 col-xs-5">
                <img src="~/images/stadiums/Ekaterimburgo.svg" class="img-responsive img-thumbnail" />
                <div class="text-center">
                    <h3>Ekaterimburgo Stadium</h3><p>(35.000 spectators)</p>
                </div>
            </div>
        </div>
        <div class="text-right">
            <div class="col-md-4 col-xs-5">
                <img src="~/images/stadiums/Fisht.svg" class="img-responsive img-thumbnail" />
                <div class="text-center">
                    <h3>Fisht Stadium</h3><p>(48.000 spectators)</p>
                </div>
            </div>
        </div>
            <div class="text-left">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Kazan.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>Kazan Arena</h3><p>(45.000 spectators)</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Luzhniki.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>Luzhniki Stadium </h3><p>(80.000 spectators)</p>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Mordovia.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>Mordovia Arena</h3><p>(44.000 spectators)</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Nizhny.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>Nizhny Novgorod</h3><p>(45.000 spectators)</p>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Otkrytie.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>Spartak Arena</h3><p>(45.000 spectators)</p>
                    </div>
                </div>
            </div>
            <div class="text-left">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Petersburgo.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>St Petersburg Arena</h3><p>(68.000 spectators)</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Rostov.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>Rostov Arena</h3><p>(45.000 spectators)</p>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <div class="col-md-4 col-xs-5">
                    <img src="~/images/stadiums/Samara.svg" class="img-responsive img-thumbnail" />
                    <div class="text-center">
                        <h3>Samara Stadium</h3><p>(45.000 spectators)</p>
                    </div>
                </div>
            </div>
                <div class="text-left">
                    <div class="col-md-4 col-xs-5">
                        <img src="~/images/stadiums/Volgograd.svg" class="img-responsive img-thumbnail" />
                        <div class="text-center">
                            <h3>Volgograd Arena</h3><p>(45.000 spectators)</p>
                        </div>
                    </div>
            </div>
    </div>
</body>